{% extends 'Squelette.twig' %}

{% block title %}Categorie{% endblock %}

{% block titre %}Categories{% endblock %}

{% block content %}
    <ul>
        {% for cat in categorie %}
            <li><a href='{{ url_for('categoriesById', {'id': cat.id }) }}'>{{ cat.libelle }}</a> | {{ cat.description }}</li>
        {% endfor %}
    </ul>
{% endblock %}
